img{
  
    width: 150px;
   
    
}
li{

    position: left;
    line-height: 10px;
}

td{
   text-align: center;
    border: 1px solid black;
    width: 200px;
    height: 150px;
   
    
}
.table{ 
    border-collapse: collapse;
   
  
}
    